all.role server
xrd.port 1094

xrd.protocol XrdHttp:1094 libXrdHttp.so


# Load your base storage system plugin (ONLY ONE ofs.osslib if you don't support stacking)
ofs.osslib /usr/lib64/libXrdBlackhole.so

# A simple exported path
all.export / rw

